@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet');

* {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

h1 {
  color: white;
  text-align: center;
  letter-spacing: 0.9rem;
  font-size: 3rem;
}
