ul {
  padding: 0;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.changeRed:hover,
.changeRed:focus {
  color: red;
}

.changeOrange:hover > svg,
.changeOrange:focus > svg {
  color: orange;
}

.changeBlue:hover,
.changeBlue:focus {
  color: blue;
  border-color: blue;
}

.buttonLabel {
  margin-left: 8px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
