body {
  background-image: url(../../assets/background-img-copy.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.App {
  width: 75%;
  margin: 120px auto;
}

header {
  margin: 0;
  padding: 0;
}

.loadingText {
  color: white;
}
