h2 {
  text-align: center;
}

.categoryContainer {
  border-radius: 5px;
  min-width: 30rem;
  max-width: 50%;
  background-color: white;
  flex: 1 0 0;
  border: black 1px solid;
  list-style: none;
}
