.rowItem {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-top: grey 1px solid;
  margin: 0 20px;
  text-align: center;
  gap: 10px;
}

.itemNameTextbox {
  width: 200px;
}

.itemQuantityTextbox {
  width: 50px;
}

.checkedItem {
  text-decoration: line-through;
  color: grey;
}
